@font-face {
    font-family: "Antipasto Pro";
    font-weight: 400;
    font-style: normal;
    src: local("Antipasto Pro Regular"),
          local("AntipastoPro-Regular"),
          url("../fonts/AntipastoPro-Regular.woff2") format('woff2'),
          url("../fonts/AntipastoPro-Regular.woff") format('woff'),
          url("../fonts/AntipastoPro-Regular.eot") format('eot');
    font-display: swap;
  }


.text {
    font-family: 'Open Sans', sans-serif;
font-weight: 700;
font-style: italic;
}
