/* body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.wrapper {
    padding: 50px;
    min-height: 100%;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.block-wrapper,
.title {
    margin-bottom: 100px;
}

.title {
    text-align: center;
}

.block-wrapper {
    display: flex;
    justify-content: center;
}

.block {
    background: linear-gradient(210deg, #34bb34, rgb(34, 128, 0));
    height: 300px;
    width: 300px;
    border-radius: 1rem;
}

.text {
    font-size: 2rem;
} */

/* ========================== */


/* .block-wrapper {
    position: relative;
}

.block-wrapper::before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 20px;
    background: rgb(184, 98, 40);
    border-radius: 10px;
    width: 200px;
    height: 200px;

} */

/* ----ДЗ---- */

body {
    background-color: #333;
}

.wrapper {
    margin-top: 70px;
    text-align: center;
    position: relative;
}

h1 {
    color: #fff;
    font-size: 70px;
}

.title::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: rgb(252, 108, 108);
    border-radius: 100px;
    border: 4px solid #fff;
    position: absolute;
    left: 650px;
    top: -15px;
}

.title::after {
    
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background: rgb(108, 130, 252);
    border-radius: 100px;
    border: 4px solid #fff;
    position: absolute;
    right: 650px;
    top: -15px;
}

.title:hover::before {
    background: rgb(112, 241, 118);
}

.title:hover::after {
    background: rgb(112, 241, 118);
}

